html {
	font-family: "Verdana", sans-serif !important;
	font-size: 36px;
}

#header {
	width: 100%;
	height: 200px;
	/* border-color: black; */
	/* border-style: solid; */
	/* border-width: 1px; */
}

#logo {
	float: left;
	width: 50%;
	height: 100px;
}

#logo_img {
	max-width: 100%;
	max-height: 200px;
	overflow: hidden;

}

#settings_img {
	max-width: 70%;
	max-height: 90px;
	overflow: hidden;

}

#trends_img {
	max-width: 70%;
	max-height: 90px;
	overflow: hidden;
}

#settings {
	float: right;
	padding-top: 10px;
	width: 80px;
	height: auto;

	
}

#trends {
	float: right;
	width:80px;
	padding-top: 10px;
	height: auto;
}

#totalbox {
	/* background: linear-gradient(to bottom, #b1ef8d, #4f9627, 75%, #4f9627); */
	width: 98%;
	height: 600px;
	margin-top: 2%;
	/* margin-bottom: 2%; */
	border-color: #4f9627;
	border-style: solid;
	border-width: 10px;
	border-radius: 20px 20px 20px 20px;
	box-shadow:
		inset 0 0 2px 0 rgba(255,255,255,.4),
		inset 0 0 3px 0 rgba(0,0,0,.4),
		inset 0 0 3px 5px rgba(0,0,0,.05),
		inset 0 0 3px 5px rgba(0,0,0,.05);
}

#description {
	width: 500px;
	height: 50px;
	margin-top: 3%;
	margin-left: 3%;
	/* border-color: black; */
	/* border-style: solid; */
	/* border-width: 1px; */
}

#styled_select {
	background-color: lightgreen;
	border: 1px solid green;
	font-size: 36px;
	height 50px;
	/* width: 165px; */
}

#spending {
	width: 400px;
	height: 60px;
	margin: auto;
	/* margin-top: 11%; */
	text-align: center;
	/* border-color: black; */
	/* border-style: solid; */
	/* border-width: 1px; */
}

.edit {
	font-size: 22px;
	color: blue;
	width: 100px;
	margin-top: 11%;
	margin-left: 65%;
	/* border-color: black; */
	/* border-style: solid; */
	/* border-width: 1px; */
}

#totalbar {
	background: white;
	width: 80%;
	height: 50px;
	margin: auto;
	margin-top: 2%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#totalbar > .subtotal {
	width: 10%;
	height: 100%;
	float: left;
	/* display: inline-block; */
	position: relative;
}

.subtotal .popup::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.popup {
	visibility: hidden;
	font-size: 14px;
	background: black;
	color: #fff;
	text-align: center;
	width: 100px;
	border-radius: 5px;
	padding: 5px 0;
	position: absolute;
	top: 115%;
	left: 50%;
	margin-left: -50px;
	/* z-index: 1; */
}

.subtotal:hover .popup {
	visibility: visible;
}

#food {
	background-color: lightgreen;
}

#coffee {
	background-color: pink;
}

#clothes {
	background-color: yellow;
}

#alcohol {
	background-color: blue;
}

#textbooks {
	background-color: purple;
}

#dropdownbutton {
	width: 126px;
	height: 75px;
	margin-top: 8%;
	margin-right: 5%;
	margin-bottom: 1%;
	float: right;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}

#dropdownarrow {
	height: 75px;
}

#categories {
	width: 100%;
	height: 1000px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.category {
	width: 100%;
	height: 150px;
	margin-top: 1%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.bar {
	width: 1000px;
	height: 50px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

#catmainbar {
	background: white;
	width: 80%;
	height: 50px;
	margin: auto;
	margin-top: 1%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.catedit {
	font-size: 22px;
	color: blue;
	width: 100px;
	margin-top: 1%;
	float: right;
}

#catspend{
	font-size: 18px;
	margin-left: 75%;
}

#catbarfood{
	background: lightgreen;
}

#catbarcoffee{
	background: pink;
}

#catbarclothes{
	background: yellow;
}

#catbaralcohol{
	background: blue;
}

#catbartextbook{
	background: purple;
}

.cattotal {
	width: 10%;
	height: 100%;
	float: left;
	/* display: inline-block; */
	position: relative;
}


#catdropdownarrow {
	height: 15px;
	width: 20px;
	float: right;
	margin-bottom: 2px;
	margin-right: 5%;
}