<!doctype html>

<html>
	<head>
		<title>re:serve | budget</title>
		<link href="../styles/budget.css" type="text/css" rel="stylesheet">
	</head>

	<body>
		<div id ="background"> </div>
		<div id="header">
			<div id="logo">

				<a href="/">
				<img id="logo_img" src="../styles/images/logoyv.png" alt=""></a>

			</div>
			<div id="navigation_bar">
			<ul>
				<li><a href="#"> Settings </a></li>
				<li><a href="#"> Account </a></li>
				<li><a href="#"> Trends </a></li>
				<li><a href="/budget"> Budget </a></li>
				<li><a href="/home"> Home </a></li>
			</ul>
			</div>
		</div>
<!-- same as the index page -->

		<div id="budgetbox">
			<div id="budget_title">Set your monthly budget</div>
<!--buttons can be categorized -->
			
<!-- categories under this form can be collectively modified -->
			<div id ="input_budget">
				<form id="budget_list" action="/budget" method="post">
									
					<div class="col_box others_color"></div>
					<div class="cat_name"> Total:</div>
					<input class="cat_input input_box" type="number" name="extra_budget" step="10" value={{total.budget}}><br>
					
					<div class="col_box food_color"></div>
					<div class="cat_name"> Food:</div>
					<input class="cat_input input_box" type="number" name="food_budget" step="10" value={{categories.food.budget}}><br>
					
					<div class="col_box coffee_color"></div>
					<div class="cat_name"> Coffee:</div>
					<input class="cat_input input_box" type="number" name="coffee_budget" step="10" value={{categories.coffee.budget}}><br>
					
					<div class="col_box clothes_color"></div>
					<div class="cat_name"> Clothes:</div>
					<input class="cat_input input_box" type="number" name="clothes_budget" step="10" value={{categories.clothes.budget}}><br>
					
					<div class="col_box alcohol_color"></div>
					<div class="cat_name"> Alcohol:</div>
					<input class="cat_input input_box" type="number" name="alcohol_budget" step="10" value={{categories.alcohol.budget}}><br>
					
					<div class="col_box textbooks_color"></div>
					<div class="cat_name"> Textbooks:</div>
					<input class="cat_input input_box" type="number" name="textbooks_budget" step="10" value={{categories.textbooks.budget}}><br>


					<div class="col_box"></div>
					
					<div id="add_cat"><input class="input_box" type="text" name="new_cat_name" placeholder="Add category name">:</div>
					<input class="input_box" id="add_val" type="number" name="new_cat_val" placeholder="Add category value"><br>
					
					<div id="bottom_buttons">
						<button class="botbutton" id="save" type="submit">Save</button>
					</div>
				</form>
			</div>
		</div>
	</body>


</html>
