<!DOCTYPE html>

<html>
	<head>
		<title>re:serve</title>
		<link href="./styles/home.css" type="text/css" rel="stylesheet">
	</head>

	<body>
		<div id="background"></div>
		<div id="header">
			<div id="logo">
				<a href="/home">
				<img id="logo_img" src="./styles/images/mainlogo.png" alt="">
			</div>
			<div id = "navigation_bar">
			<ul>
				<li><a href="/"> Logout </a></li>
				<li><a href="#"> Settings </a></li>
				<li><a href="#"> Account </a></li>
				<li><a href="#"> Trends </a></li>
				<li><a href="/budget"> Budget </a></li>
			</ul>
			</div>
		</div>

		<div id="total_budget_box">
			<div id="total_top">
				<div id="description"><p>
				Welcome back, User!</p>
				<p>So far this month, you've spent:</p>
				</div>
				
				<div id="spending">${{total.spent}} of ${{total.budget}}</div>
				
				<div id="totalbar" value={{total.budget}}>
					<div class="subtotal food_color" id="food" value={{categories.food.spent}}>
						<span class="popup">food: ${{categories.food.spent}}</span>
					</div>
					
					<div class="subtotal coffee_color" id="coffee" value={{categories.coffee.spent}}>
						<span class="popup">coffee: ${{categories.coffee.spent}}</span>
					</div>
					
					<div class="subtotal clothes_color" id="clothes" value={{categories.clothes.spent}}>
						<span class="popup">clothes: ${{categories.clothes.spent}}</span>
					</div>
					
					<div class="subtotal alcohol_color" id="alcohol" value={{categories.alcohol.spent}}>
						<span class="popup">alcohol: ${{categories.alcohol.spent}}</span>
					</div>
					
					<div class="subtotal textbooks_color" id="textbooks" value={{categories.textbooks.spent}}>
						<span class="popup">textbooks: ${{categories.textbooks.spent}}</span>
					</div>

					<!-- <div class="subtotal others_color" id="others" value="0.0"> -->
					<!-- 	<span class="popup">others: ${{categories.others.spent}}</span> -->
					<!-- </div> -->
				</div>
			
			
			<div id="total_dropdown">show more</div>
		</div>
		</div>
		
		<div id="categories">
			<div class="category" id="catFood" value= {{categories.food.budget}}>
				<div class="cat_top">
					<div class="catname">Food</div>
					<div class="catspend"><span>${{categories.food.spent}}</span>/${{categories.food.budget}}</div>
					<div class="catmainbar">
						<div class="cattotal food_color" id="catbarfood" value={{categories.food.spent}}></div>
					</div>
				</div>
				
				<div class="cat_dropdown" id="food_dropdown">details</div>
			</div>

			<div class="detail" id="food_detail">
				<div class="detail_item">
					<div class="detail_description">Whole Foods</div>
					<div class="detail_spent">$76.54</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Todoroki</div>
					<div class="detail_spent">$90.32</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Chipotle</div>
					<div class="detail_spent">$11.12</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Northwestern Dining: Norris</div>
					<div class="detail_spent">$50.41</div>
				</div>
			</div>

			<div class="category" id="catCoffee" value={{categories.coffee.budget}}>
				<div class="cat_top">
					<div class="catname">Coffee</div>
					<div class="catspend"><span>${{categories.coffee.spent}}</span>/${{categories.coffee.budget}}</div>
					<div class="catmainbar">

						<div class="cattotal coffee_color" id="catbarcoffee" value= {{categories.coffee.spent}}></div>

					</div>
				</div>
				
				<div class="cat_dropdown" id="coffee_dropdown">details</div>
			</div>

			<div class="detail" id="coffee_detail">
				<div class="detail_item">
					<div class="detail_description">Northwestern Dining: Norris</div>
					<div class="detail_spent">$5.64</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Starbucks</div>
					<div class="detail_spent">$4.54</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Starbucks</div>
					<div class="detail_spent">$7.12</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Northwestern Dining: Norris</div>
					<div class="detail_spent">$14.91</div>
				</div>
			</div>

			<div class="category" id="catClothes" value={{categories.clothes.budget}}>
				<div class="cat_top">
					<div class="catname">Clothes</div>
					<div class="catspend"><span>${{categories.clothes.spent}}</span>/${{categories.clothes.budget}}</div>
					<div class="catmainbar">			

						<div class="cattotal clothes_color" id="catbarclothes" value= {{categories.clothes.spent}}></div>

					</div>
				</div>
				
				<div class="cat_dropdown" id="clothes_dropdown">details</div>
			</div>

			<div class="detail" id="clothes_detail">
				<div class="detail_item">
					<div class="detail_description">Zara</div>
					<div class="detail_spent">44.16</div>
				</div>
				<div class="detail_item">
					<div class="detail_description"></div>
					<div class="detail_spent"></div>
				</div>
				<div class="detail_item">
					<div class="detail_description"></div>
					<div class="detail_spent"></div>
				</div>
				<div class="detail_item">
					<div class="detail_description"></div>
					<div class="detail_spent"></div>
				</div>
			</div>

			<div class="category" id="catAlcohol" value={{categories.alcohol.budget}}>
				<div class="cat_top">
					<div class="catname">Alcohol</div>
					<div class="catspend"><span>${{categories.alcohol.spent}}</span>/${{categories.alcohol.budget}}</div>
					<div class="catmainbar">

						<div class="cattotal alcohol_color" id="catbaralcohol" value= {{categories.alcohol.spent}}></div>

					</div>
				</div>
				
				<div class="cat_dropdown" id="alcohol_dropdown">details</div>
			</div>

			<div class="detail" id="alcohol_detail">
				<div class="detail_item">
					<div class="detail_description">Bar Louie</div>
					<div class="detail_spent">$30.59</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Bar Louie</div>
					<div class="detail_spent">$59.84</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Yeowoosai</div>
					<div class="detail_spent">$24.14</div>
				</div>
				<div class="detail_item">
					<div class="detail_description"></div>
					<div class="detail_spent"></div>
				</div>
			</div>

			<div class="category" id="catTextbook" value={{categories.textbooks.budget}}>
				<div class="cat_top">
					<div class="catname">Textbooks</div>
					<div class="catspend"><span>${{categories.textbooks.spent}}</span>/${{categories.textbooks.budget}}</div>
					<div class="catmainbar">

						<div class="cattotal textbooks_color" id="catbartextbook" value= {{categories.textbooks.spent}}></div>

					</div>
				</div>
				
				<div class="cat_dropdown" id="textbooks_dropdown">details</div>
			</div>
			
			<div class="detail" id="textbooks_detail">
				<div class="detail_item">
					<div class="detail_description">Beck's Bookstore</div>
					<div class="detail_spent">$144.98</div>
				</div>
				<div class="detail_item">
					<div class="detail_description">Northwestern University: Norris Bookstore</div>
					<div class="detail_spent">$99.08</div>
				</div>
				<div class="detail_item">
					<div class="detail_description"></div>
					<div class="detail_spent"></div>
				</div>
				<div class="detail_item">
					<div class="detail_description"></div>
					<div class="detail_spent"></div>
				</div>
			</div>


			<!-- <div class="category" id="catOthers" value="0.00"> -->
			<!-- 	<div class="cat_top"> -->
			<!-- 		<div class="catname">Others</div> -->
			<!-- 		<div class="catspend"><span>${{categories.others.spent}}</span>/${{categories.others.budget}}</div> -->
			<!-- 		<div class="catmainbar"> -->
			<!-- 			<div class="cattotal other_color" id="catbarother" value="0.00"></div> -->
			<!-- 		</div> -->
			<!-- 	</div> -->
				
			<!-- 	<div class="cat_dropdown" id="other_dropdown">details</div> -->
			<!-- </div> -->
		</div>
			
		
		<!-- temporarily removed footnote due to bugs with detail dropdowns -->
		
		<!-- <div id = "footnote"> -->
		<!-- 	<a href = "file:///Users/Jeff/Dropbox/Northwestern%20University/Academics/Sophomore/2%202017%20Winter/EECS%20330/cashMoneyHeroes/home.html"> -->
		<!-- 	About Us   |   Support   |   Privacy   |   Terms of Use <p> </a> -->
		<!-- 	1927 Orrington Ave, Evanston, IL 60201 -->
		<!-- </div> -->

		<script type="text/javascript" src="./js/home.js"></script>
	</body>
</html>
